<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="/students">
                    <i class="fa fa-graduation-cap"></i> <span>Student Management</span>
                </a>
            </li>

            <li>
                <a href="/teachers">
                    <i class="fa fa-pencil"></i> <span>Teacher Management</span>
                </a>
            </li>

            <li>
                <a href="/departments">
                    <i class="fa fa-hospital-o"></i> <span>Department Management</span>
                </a>
            </li>

            <li>
                <a href="/subjects">
                    <i class="fa fa-book"></i> <span>Subject Management</span>
                </a>
            </li>

            <li>
                <a href="/results">
                    <i class="fa fa-calculator"></i> <span>Result Management</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>