<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:href="@{'?pageNo=' + ${currentPage - 1}}">«</a>
        </li>
        <li th:each="i:${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i ? 'active' : ''}">
            <a th:href="@{${keyword != null && keyword !='' ? '?keyword=' + keyword + '&' : '?'} + 'pageNo=' + ${i}}"
                th:text="${i}">
            </a>
        </li>

        <li th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:href="@{'?pageNo=' + ${currentPage + 1}}">»</a>
        </li>
    </ul>
</div>
