<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Digital Trend HTML Template</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/css/templatemo-digital-trend.css">
  <!-- SCRIPTS -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/smoothscroll.js"></script>
  <script src="/js/custom.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa fa-line-chart"></i>
        Nha Trang University
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" class="nav-link contact">Login</a>
          </li>
        </ul>
      </div>

    </div>

  </nav>


  <section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
          <div class="hero-text">

            <h1 class="text-white" data-aos="fade-up">We are ready for your students</h1>

            <a href="/students" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let's go
              to Management System</a>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

            <img src="/images/imgLoad.png" class="img-fluid" alt="working girl">
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="testimonial section-padding">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-5 col-12">
          <div class="contact-image" data-aos="fade-up">

            <img src="/images/img.png" class="img-fluid" alt="website">
          </div>
        </div>

        <div class="col-lg-6 col-md-7 col-12">
          <h1 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100"><b>Student Management System</b></h1>

          <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

          <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Department Management</h3>
          <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Student Management</h3>
          <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Teacher Management</h3>
          <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Subject Management</h3>
          <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Result Management</h3>

        </div>

      </div>
    </div>
  </section>



</body>

</html>