<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm sinh viên</title>
</head>
<body>
    <h1>Thêm sinh viên</h1>
    <form action="#" th:action="@{/themSinhVien}" th:object="${sinhVien}" method="post">
        <label for="maSoSV">Mã số SV:</label>
        <input type="text" id="maSoSV" th:field="*{maSoSV}" /><br>
        <label for="hoTen">Họ và tên:</label>
        <input type="text" id="hoTen" th:field="*{hoTen}" /><br>
        <button type="submit">Thêm</button>
    </form>
</body>
</html>
