<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới Sinh viên</title>
</head>
<body>
    <h1>Thêm mới Sinh viên</h1>
    <form action="#" th:action="@{/sinhVien/themMoi}" th:object="${sinhVien}" method="post">
        <label>Mã số SV:</label>
        <input type="text" th:field="*{maSoSV}" /><br/>
        <label>Họ và Tên:</label>
        <input type="text" th:field="*{hoVaTen}" /><br/>
        <button type="submit">Thêm mới</button>
    </form>
</body>
</html>
