<nav>
    <ul class="pagination">
        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{'?pageNo=' + ${currentPage - 1}}">&laquo;</a></li>
        <li th:each="i:${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i ? 'active' : ''}">
            <a class="page-link pagination-link" th:href="@{${keyword != null && keyword !='' ? '?keyword=' + keyword + '&' : '?'} + 'pageNo=' + ${i}}" th:text="${i}"></a>
        </li>
        <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'?pageNo=' + ${currentPage + 1}}">&raquo;</a></li>
    </ul>
</nav>